name: Build and push helm artifacts
on:
  workflow_dispatch:

jobs:
  update-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PUSH_TOKEN }}

      - name: Set up git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Run package-and-index.sh
        id: update_all
        run: |
          chmod +x ./.github/package-and-index.sh
          GHA=true ./.github/package-and-index.sh

      - name: Commit and push changes
        if: steps.update_all.outputs.changes_present == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git add -A ./charts
          git commit -m "chore: update helm repo artifacts"
          git push